<div>
  <div class="sidenav-header">
    <img src="assets/icon.svg" />
  </div>

  <div class="sidenav-content">
    {{ "menus.section_under_construction" | transloco }}

    <div style="margin-top: 62px">
      <mat-form-field appearance="fill">
        <mat-label
          ><mat-icon>translate</mat-icon>
          {{ "menus.language" | transloco }}</mat-label
        >
        <mat-select
          [(value)]="languageSelected"
          (selectionChange)="onLanguageChange()"
        >
          <mat-option value="en">English</mat-option>
          <mat-option value="es">Español</mat-option>
          <mat-option value="fr">French</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</div>
