<div>
  <div class="sidenav-header">
    <img src="assets/icon.svg" />
  </div>

  <div class="sidenav-content">
    <div style="text-align: center">
      <mat-form-field appearance="fill">
        <mat-label
          ><mat-icon>translate</mat-icon>
          {{ "menus.language" | transloco }}</mat-label
        >
        <mat-select
          [(value)]="languageSelected"
          (selectionChange)="onLanguageChange()"
        >
          <mat-option value="en">English 🇬🇧</mat-option>
          <mat-option value="es">Español 🇪🇸</mat-option>
          <mat-option value="fr">French 🇫🇷</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div style="display: flex; flex-direction: column; gap: 8px">
      <button mat-button (click)="exportData()">
        <mat-icon>save</mat-icon> {{ "menus.export-data" | transloco }}
      </button>
      <button mat-button (click)="importData()">
        <mat-icon>south_west</mat-icon> {{ "menus.import-data" | transloco }}
      </button>
    </div>
  </div>
</div>
