mat-sidenav {
  min-width: 280px;
}
mat-sidenav-container {
  height: 100vh;
  // Add multiline for \n (transloco)
  white-space: pre-wrap;
}

.root {
  text-align: center;
}

.title-container {
  background-color: #596886;
  padding: 14px;
  margin-bottom: 28px;
}

.title-img {
  max-width: 500px;
}

footer {
  max-width: 500px;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;

  .middle {
    width: fit-content;
    margin: auto;
    text-align: center;
  }

  .beta-info {
    font-weight: 600;
    letter-spacing: 6px;
    opacity: 0.2;
  }

  .sidenav-toggle-button {
    position: fixed;
    bottom: 2px;
  }
}
