<mat-sidenav-container>
  <mat-sidenav #drawer [mode]="drawerMode" [opened]="isOpened">
    <app-sidenav-content></app-sidenav-content>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- //TODO put here router -->
    <div class="root">
      <div class="title-container">
        <img
          class="title-img"
          src="assets/Pill Reminder title.svg"
          alt="Logo"
          style="width: 100%"
        />
      </div>

      <div class="body">
        <app-home></app-home>
      </div>
    </div>

    <button class="sidenav-toggle-button" mat-button (click)="toggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-sidenav-content>
</mat-sidenav-container>
