mat-sidenav {
  min-width: 280px;
}
mat-sidenav-container {
  height: 100vh;
  // Add multiline for \n (transloco)
  white-space: pre-wrap;
}

.root {
  text-align: center;
}

.title-container {
  background-color: #596886;
  padding: 14px;
  margin-bottom: 28px;
}

.title-img {
  max-width: 500px;
}
.sidenav-toggle-button {
  position: fixed;
  bottom: 2px;
}
