.root {
}

.app-pill-last-taken {
  /* margin: 50px auto; */
}

footer {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  background-color: white;

  .beta-info {
    font-weight: 600;
    letter-spacing: 6px;
    opacity: 0.2;
  }
}
