.root {
}

.app-pill-last-taken {
  /* margin: 50px auto; */
}

footer {
  position: fixed;
  bottom: 10px;
  right: 0;
  left: 0;
  background-color: white;

  .beta-info {
    font-weight: 600;
    letter-spacing: 6px;
    opacity: 0.2;
  }
}

.no-pill-taken-container {
  opacity: 0.5;

  .no-pill-taken {
    font-size: 1.6em;
    line-height: 1.3;
    margin: 40px auto;

    animation: fadeInDown;
    animation-duration: 2s;
  }
}
