<div class="root">
  <app-pill-take></app-pill-take>
  <app-pill-last-taken
    class="last-pill-taken"
    *ngIf="lastPillTakenRecently; else noPillTaken"
  ></app-pill-last-taken>
  <button mat-stroked-button (click)="toggleAllPills()" *ngIf="somePillTaked">
    {{ (!allPillsVisible ? "global.view_all" : "global.hide") | transloco }}
  </button>
  <app-pill-all-taken *ngIf="allPillsVisible"></app-pill-all-taken>

  <footer>
    <div class="beta-info">BETA</div>
    <div>v{{ appVersion }}</div>
  </footer>
</div>

<ng-template #noPillTaken>
  <div class="no-pill-taken-container">
    <div class="no-pill-taken">
      {{ "pills.slide_start_message" | transloco }}
    </div>
  </div>
</ng-template>
