<div class="root" *ngIf="lastPill" matRipple>
  <mat-accordion>
    <mat-expansion-panel
      hideToggle
      aria-disabled="true"
      class="body"
      [class]="lastPill.canTakeNext() ? 'completed' : 'in-progress'"
      (opened)="detailsExpanded = true"
      (closed)="detailsExpanded = false"
    >
      <mat-expansion-panel-header>
        <div class="panel-header-body">
          <div class="left-side">
            <div class="title">Última pastilla</div>
            Tomada a las {{ lastPill.timestamp | date: "HH:mm" }}
          </div>
          <div class="time-ago" *ngIf="timeAgo; else loader">
            Hace <span class="time-ago-counter">{{ timeAgo }}</span>
          </div>
        </div>
        <div class="panel-header-footer" *ngIf="!detailsExpanded">
          <mat-icon>expand_more</mat-icon>
          Mostrar más
          <mat-icon>expand_more</mat-icon>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="panel-body-body">
          <div>
            Tomar cada
            <b>{{ lastPill.takeFrequency / 1000 / 60 / 60 }} horas </b>.
          </div>
          <div>
            Puedes tomar otra a las
            <b>{{ lastPill.nextTake | date: "HH:mm" }}</b>
          </div>
          <div *ngIf="lastPill.comment">
            <b>Comentario:</b> {{ lastPill.comment }}
          </div>
          <div>
            <button
              *ngIf="!lastPill.comment"
              mat-button
              class="edit-comment-btn"
              (click)="editComment()"
            >
              Añadir comentario
            </button>

            <button
              *ngIf="lastPill.comment"
              mat-button
              class="edit-comment-btn"
              (click)="editComment()"
            >
              Editar comentario
            </button>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #loader>
  <mat-spinner [diameter]="35"></mat-spinner>
</ng-template>
