<div class="root" *ngIf="lastPill" matRipple>
  <mat-accordion>
    <mat-expansion-panel
      hideToggle
      aria-disabled="true"
      class="body"
      [class]="lastPill.canTakeNext() ? 'completed' : 'in-progress'"
      (opened)="detailsExpanded = true"
      (closed)="detailsExpanded = false"
    >
      <mat-expansion-panel-header>
        <div class="panel-header-body">
          <div class="left-side">
            <div class="title">{{ "last-pill" | transloco }}</div>
            {{ "take-every" | transloco }}
            {{ lastPill.timestamp | date: "HH:mm" }}
          </div>
          <div class="time-ago" *ngIf="timeAgo; else loader">
            {{ "ago" | transloco }}
            <span class="time-ago-counter">{{ timeAgo }}</span>
          </div>
        </div>
        <div class="panel-header-footer" *ngIf="!detailsExpanded">
          <mat-icon>expand_more</mat-icon>
          {{ "show-more" | transloco }}
          <mat-icon>expand_more</mat-icon>
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <div class="panel-body-body">
          <div>
            {{ "take-every" | transloco }}
            <b>{{ lastPill.takeFrequency / 1000 / 60 / 60 }} horas </b>.
          </div>
          <div>
            {{ "can-take-other-at" | transloco }}
            <b>{{ lastPill.nextTake | date: "HH:mm" }}</b>
          </div>
          <div *ngIf="lastPill.comment">
            <b>{{ "comment" | transloco }}:</b> {{ lastPill.comment }}
          </div>
          <div>
            <button
              *ngIf="!lastPill.comment"
              mat-button
              class="edit-comment-btn"
              (click)="editComment()"
            >
              {{ "add-comment" | transloco }}
            </button>

            <button
              *ngIf="lastPill.comment"
              mat-button
              class="edit-comment-btn"
              (click)="editComment()"
            >
              {{ "edit-comment" | transloco }}
            </button>
          </div>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<ng-template #loader>
  <mat-spinner [diameter]="35"></mat-spinner>
</ng-template>
