.root {
  text-align: left;
  margin: 50px auto;
  margin-top: 0;
  max-width: 500px;
  border: 1px dashed #8b8d7f;
  border-radius: 6px;
  user-select: none;

  animation: backInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 1s; /* don't forget to set a duration! */
}

.title {
  font-size: 1.4em;
}

.body {
  mat-expansion-panel-header {
    padding: 20px 20px;
    padding-bottom: 10px;

    ::ng-deep .mat-content {
      flex-direction: column;
    }
  }

  .panel-header-body {
    display: flex;

    .left-side {
      margin-right: auto;
    }
  }

  .panel-header-footer {
    opacity: 0.5;
    margin: auto;
    margin-top: 2px;

    mat-icon {
      animation: MoveUpDown 2s infinite;
    }
  }

  .panel-body-body {
    margin-top: 13px;
    font-size: 1.3em;

    .edit-comment-btn {
      padding: 0;
    }
  }
}

.in-progress {
  background-color: #ffd4af4c;
}

.completed {
  background-color: #00ffe74c;
}

.time-ago {
  display: flex;
  align-items: center;
  gap: 8px;

  .time-ago-counter {
    font-size: 2.4em;
    line-height: normal;
  }
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(3px);
  }
}
