.root {
  margin: 15px auto;
}

.bar {
  position: relative;
  border: 1px solid #d8d8d8;
  text-align: left;
  width: 250px;
  margin: auto;
  border-radius: 20px;
  overflow: hidden;

  background: rgb(143, 159, 214);
  background: linear-gradient(
    90deg,
    rgba(143, 159, 214, 0) 70%,
    rgba(187, 100, 100, 0.4) 90%,
    rgba(43, 184, 159, 0) 93%
  );
  background-size: 200% 100%;
  animation: bar-gradient 3s ease infinite;
}

.dragable {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 20px; /* Animated via Script */

  margin-bottom: -5px;
  touch-action: none;
  position: relative;

  background-color: #bb6464;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  cursor: move;

  &.active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
      0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  &:before {
    content: ".";
    background-color: #632626;
    width: 600px;
    height: 100%;
    display: inline-block;
    position: absolute;
    right: 20px;
    z-index: -1;
  }
}

.animation-pill {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 100%;
  right: 25px;
  background: white;
  background: linear-gradient(90deg, #ffffff 65%, #000000 65%);

  border-radius: 20px 0 0 20px;
  z-index: -1;
}

.frequency-input {
  text-align: center;
  width: 21px;
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.options-container {
  margin-top: 12px;
  font-size: 1.2em;
}

.pill-emoji {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 3em;
  pointer-events: none;
  user-select: none;
  animation: take-pill-emoji 2s ease forwards;
}

@keyframes take-pill-emoji {
  0% {
    opacity: 0;
    transform: translateY(-10px) rotateZ(-50deg);
  }
  40% {
    opacity: 0.6;
  }
  70% {
    transform: translateY(50) rotateZ(0);
  }
  100% {
    opacity: 0;
    transform: translateY(110px) rotateZ(5deg);
  }
}

@keyframes bar-gradient {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: 30% 50%;
  }
}
