<div class="root">
  <div class="bar" id="barContainer" #barContainer>
    <div class="slider-bg"></div>
    <div
      class="dragable"
      id="dragable"
      #dragable
      (pointerdown)="startDrag($event)"
      (pointerup)="$event.stopPropagation(); endDrag()"
    >
      <div class="animation-pill" id="animationPill" #animationPill></div>
    </div>
  </div>

  <div class="pill-emoji" *ngIf="takeSliderCompleted">💊</div>

  <div class="options-container">
    <span>
      {{ "take-every" | transloco }}
      <mat-form-field
        appearance="standard"
        style="width: 21px; text-align: center"
      >
        <mat-label></mat-label>
        <input
          matInput
          type="number"
          min="1"
          max="40"
          #frequencyInput
          class="frequency-input"
          (click)="frequencyInput.select()"
          [(ngModel)]="pillConfig.takeFrequencyHours"
        />
      </mat-form-field>
      {{ "hours" | transloco }}
    </span>
  </div>
</div>
